@charset "utf-8";

body {line-height: 1.5em;font-size: 23px;font-weight:200;min-width:780px;} 

.mts-basewrap {padding-left:20px !important;padding-right:20px !important;}

.mts-logo a {font-size:32px !important;} 

.mts-header .header-top  {height:80px;line-height:68px;}

.mts-menu-icon {width:80px !important;height:80px !important;}

.mts-menu-trading > ul > li > a {padding:12px 0 !important;}


.mts-menu .wrapper {top:80px !important;width:440px !important;}
.mts-menu .close {height:80px !important;width:80px !important;}

.mts-menu nav > ul > li > a  {padding:25px 45px 25px 60px !important;background-size:20px auto !important;background-position:30px center !important;}
.mts-menu nav > ul > li > em  {right:30px !important;top:28px !important;padding:2px 0 !important;width:60px !important;line-height:26px !important;}


.mts-menu .stat {padding:30px !important;}
.mts-menu .stat > p > em {width:100px !important;}

.mts-trading-wrapper .selector {height:60px !important;line-height:55px !important;}
.mts-trading-wrapper .selector .btn  {width:160px !important;padding-right:32px !important;background-position:86% 19px !important;background-size:18px auto !important;}

.mts-trading-wrapper .selector .select > ul > li {padding}

.mts-trading-wrapper .selector .select  {top:56px !important;}

.mts-trading-wrapper .stock-list > ul > li > .it.middle {width:320px !important;margin-left:-160px !important;}

.mts-trading-wrapper .order-tab .tab {padding-top:12px !important;padding-bottom:12px !important;}

.mts-trading-wrapper .order-wrapper .hogatime {padding:16px 0 !important;}

.mts-trading-wrapper .hoga-list > ul > li {padding:11px 10px !important;}

.mts-trading-wrapper .fld {height:70px !important;line-height:50px !important;margin-bottom:8px !important;}
.mts-trading-wrapper .fld .sel {right:69px !important;}
.mts-trading-wrapper .fld label {line-height:70px !important;}
.mts-trading-wrapper .fld .input {padding-right:150px !important;}

.mts-trading-wrapper .fld .input.nobtn {padding-right:10px !important;}
.mts-trading-wrapper .fld .input.nolabel {padding-left:10px !important;}

.mts-trading-wrapper .fld .btn {width:70px !important;background-size:18px auto !important;}
.mts-trading-wrapper .fld .btn.left {margin-right:69px !important;}

.mts-trading-wrapper .button {padding:10px 10px !important;}
.mts-trading-wrapper .button.nobtn {margin:4px 0;}

.mts-trading-wrapper .order .stats {margin-bottom:13px !important;}
.mts-trading-wrapper .order .stats .stat {top:10px !important;}


.mts-trading-wrapper .selector.option .fix-header  {left:21px !important;right:21px !important;top:230px !important;height:58px;padding:10px;padding-bottom:0;line-height:18px !important;}


.mts-footer .info .icon {margin-top:-35px !important;width:70px !important;height:70px !important;}
.mts-footer .contact .tel {background-size:28px auto !important;padding-left:45px !important;}
.mts-footer .contact .mts-menu-etc {margin-top:4px !important;}



.mts-pop .pop-close {width:80px !important;height:60px !important;}
.mts-pop .pop-prev {width:80px !important;height:60px !important;}
.mts-pop.basic {top:80px !important;}

.mts-textarea .icon-full {width:60px !important;height:58px !important;}

.mts-popup-basic .title-bar {height:60px !important;line-height:60px !important;}

.mts-pop-over {top:210px !important;}

/* ÆË¾÷ÄÜÅÙÃ÷ ½ÃÀÛ */
.mts-login {padding-top:70px !important;}
.mts-login form {padding:0 15% !important;}

.mts-login .mts-logo {top:0 !important;}
.mts-login .mts-logo > a {font-size:37px !important;}

.mts-login .fld {height:70px !important;line-height:50px !important;background-position:15px center !important;background-size:15px auto !important;padding-left:41px !important;}
.mts-login .input {line-height:50px !important;}

.mts-login .fld .bt {margin-top:-20px !important;width:40px !important;height:40px !important;}

.mts-login .fld .bt.view {margin-right:40px !important;}

.mts-login .button {height:70px !important;}

.mts-textarea article {max-height:300px !important;}

.mts-definition > dt {background-position:left 17px !important;background-size:20px auto !important;padding-left:28px !important;}

.mts-definition.label > dt,.mts-definition.label > dd {padding-left:35px !important;}
.mts-definition.label .num {top:11px !important;}

.mts-list-bullet {margin-left:28px !important;}

.mts-section-title {background-position:left 17px !important;background-size:20px auto !important;padding-left:28px !important;}
.mts-section-title .btn {top:10px !important;}
.mts-section-title .btn > a {padding:9px 12px !important;;margin-left:9px !important;;}
.mts-section-title .btn > .mts-icon {padding-left:30px !important;;background-position:10px center !important;;background-size:16px auto !important;;}

.mts-cs-process.emergency> li {min-height:185px !important;}
.mts-cs-process.guide-bank li {min-height:257px !important;}

.mts-popup-basic .popup-contents {top:60px !important;}
.mts-popup-basic.tab .popup-contents {top:120px !important;}
.mts-popup-basic.select .popup-contents {top:140px !important;}

.mts-tel {background-size:28px auto !important;padding-left:45px !important;}
.mts-tel.small {background-size:25px auto !important;padding-left:40px !important;}

.mts-tab-menu > ul > li > a {padding:7px 0 !important;}

.mts-select-menu {top:75px !important;}
.mts-select-menu > i {height:52px !important;background-position:calc(100% - 17px) center !important;background-size:15px auto !important;}
.mts-select-menu.on > i {width:50px !important;}
.mts-select-menu > ul > li > a {padding:8px 15px !important;}

.mts-pop-tb .input {height:70px !important;line-height:50px !important;}
.mts-pop-tb caption {background-position:left 17px !important;background-size:20px auto !important;padding-left:28px !important;}
.mts-pop-tb:nth-of-type(1) > caption {background-position-y:4px !important;}

.mts-search label {width:80px !important;padding-right:20px !important;background-size:15px auto !important;}


.mts-toggle-content dt {padding:12px 33px 12px 17px !important;}
.mts-toggle-content dt:after {right:12px !important;top:15px !important;height:28px;width:30px;background-size:15px auto !important;}
.mts-toggle-content.faq dt {padding-left:45px !important;background-position:17px 21px !important;background-size:17px auto !important;}

.basic-btn .btn {padding:12px 23px !important;}
.basic-btn .btn.mts-icon {padding-left:40px !important;;background-position:18px center !important;;background-size:19px auto !important;;}

/* Ã¼Å©¹Ú½º */
.mts-chk .check {width:38px !important;height:38px !important;}
.mts-chk i {width:38px !important;height:38px !important;}
.mts-chk .long-text {line-height:32px !important;}

/* ¶óµð¿À */
.mts-rad {line-height:32px !important;}
.mts-rad .radio {width:32px !important;height:32px !important;}
.mts-rad i {width:32px !important;height:32px !important;}
