@charset "utf-8";
body {background-color:#fff/*bg*/;color:#222;font-weight:400/*300*/;}

a:link, a:visited, a:active {color:#222;}
a:hover {color:#222;}
::selection {
    background:#33cbeb;
    color: #FFF;
}
::-moz-selection {
    background:#33cbeb;
    color: #FFF;
}
::-webkit-selection {
    background:#33cbeb;
    color: #FFF;
}

.mts-basewrap {position:relative;padding:0 10px;box-sizing:border-box;width:100%;}

.mts-header .header-top  {background-color:#16ab84;}

.mts-logo {position:absolute;left:0;right:0;top:0;height:100%;}
.mts-logo a {display:inline-block;height:100%;font-size:17px;font-weight:400;letter-spacing:-1px;padding:0 10px;color:#fff;}
.mts-logo a > em {font-style:normal;font-weight:700;}

.mts-menu-icon {position:absolute;z-index:2;display:block;width:46px;height:46px;top:0;background-repeat:no-repeat;background-position:center center;background-size:40% auto;overflow:hidden;text-indent:-999px;cursor:pointer;}
.mts-menu-icon.gnb {left:0;background-image:url("../img/icon-white/icon-menueccb.svg?3");}
.mts-menu-icon.member {right:0;background-image:url("../img/icon-white/icon-membereccb.svg?3");}

.mts-menu-trading {background-color:#92e2cd;overflow:hidden;position:relative;z-index:998;}
.mts-menu-trading:after {content:" ";display:block;clear:both;height:0;visibility:hidden;margin:0;padding:0;}
.mts-menu-trading > ul > li {float:left;position:relative;width:20%;box-sizing:border-box;border-top:1px solid #c0f7e9;border-bottom:1px solid #00c591;position:relative;}
.mts-menu-trading > ul > li:first-child {border-left:1px solid #c0f7e9;}
.mts-menu-trading > ul > li:last-child {border-right:1px solid #c0f7e9;}
.mts-menu-trading > ul > li > a {display:block;padding:6px 0;font-weight:500;letter-spacing:-0.05em;}
.mts-menu-trading > ul > li:before {position:absolute;display:block;content:"";left:-1px;top:0;bottom:0;width:1px;background-color:#c0f7e9;}
.mts-menu-trading > ul > li:after {position:absolute;display:none;content:"";right:-1px;top:0;bottom:0;width:1px;background-color:#c0f7e9;}

.mts-menu-trading > ul > li.on {background-color:#fff/*bg*/;z-index:5;border:1px solid #00c591;border-bottom-color:transparent;}
.mts-menu-trading > ul > li.on:before {background-color:#00c591;bottom:-1px;}
.mts-menu-trading > ul > li.on:after {display:block;background-color:#00c591;bottom:-1px;}
.mts-menu-trading > ul > li.on > a {border-bottom-color:transparent;}

.mts-menu-trading.bottom {margin-top:-1px;padding-bottom:1px;background-color:#29c29a;}
.mts-menu-trading.bottom > ul > li  {font-size:0.923em;border:1px solid #7ad1ba;border-right:0;margin-bottom:-1px;width:25%}
.mts-menu-trading.bottom > ul > li > a {color:#fff;}
.mts-menu-trading.bottom > ul > li:before  {display:none;}
.mts-menu-trading.bottom > ul > li:after  {display:none;}
.mts-menu-trading.bottom > ul > li.spe  {background-color:#01bfc4;border-color:#018663;}
.mts-menu-trading.bottom > ul > li:hover  {background-color:#cdfbef;}
.mts-menu-trading.bottom > ul > li:hover > a  {color:#222;}
.mts-menu-trading.bottom > ul > li.spe:hover  {background-color:#d2f9fa;}
.mts-menu-trading.bottom > ul > li.on  {background-color:#cdfbef !important;b}
.mts-menu-trading.bottom > ul > li.on > a  {margin:0;color:#222;}


.mts-menu {display:none;position:fixed;left:0;right:0;top:0;bottom:0;z-index:99999999;font-weight:400;color:#fff;}
.mts-menu .back {position:absolute;left:0;right:0;top:0;bottom:0;background-color:#fff/*bg*/;filter:alpha(opacity=80);opacity:0.8;-moz-opacity:0.8;}
.mts-menu .wrapper {position:absolute;z-index:1;top:46px;bottom:0;width:230px;background-color:#16ab84;}
.mts-menu .close {display:none;position:absolute;z-index:2;top:0;display:block;height:46px;width:46px;background-color:#16ab84;background-repeat:no-repeat;background-position:center center;background-size:32% auto;background-image:url("../img/icon-white/icon-close.svg");cursor:pointer;}

.mts-menu nav > ul  {text-align:left;}
.mts-menu nav > ul > li  {position:relative;text-align:left;border-bottom:1px solid #22c097;}
.mts-menu nav > ul > li:hover  {background-color:#0bccd1;}
.mts-menu nav > ul > li > a  {display:block;padding:10px 20px 10px 38px;background-repeat:no-repeat;background-position:19px center;background-size:10px auto;background-image:url("../img/icon-white/icon-arrowright.svg");letter-spacing:-0.05em;color:#fff;}
.mts-menu nav > ul > li > em  {position:absolute;display:block;right:20px;top:10px;padding:2px 0;line-height:14px;width:32px;text-align:center;background-color:#fff/*bg*/;border-radius:20px;color:#222;font-style:normal;font-size:0.923em;font-family: Oswald;}

.mts-menu.gnb .wrapper {left:0;margin-left:-100%;-webkit-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);-moz-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);}
.mts-menu.gnb .close {left:0;}
.mts-menu.member .wrapper {right:0;margin-right:-100%;-webkit-box-shadow: -2px 0px 3px 0px rgba(0,0,0,0.3);-moz-box-shadow: -2px 0px 3px 0px rgba(0,0,0,0.3);box-shadow: -2px 0px 3px 0px rgba(0,0,0,0.3);}
.mts-menu.member .close {right:0;}


.mts-menu .stat {text-align:left;;padding:20px;font-size:0.923em;border-bottom:1px solid #22c097;}
.mts-menu .stat > strong {font-size:1.154em;font-weight:400;}
.mts-menu .stat > p > em {display:inline-block;width:50px;font-style:normal;}
.mts-menu .stat > p > u {font-size:1.0em;text-decoration:none;font-weight:400;}


.mts-trading-wrapper  {background-color:#fff/*bg*/;border:1px solid #00c591;border-top:0;position:relative;z-index:999;} 
.mts-trading-wrapper .mts-basewrap  {padding-top:17px;padding-bottom:17px;}

.mts-trading-wrapper .selector {position:relative;z-index:9;height:32px;line-height:30px;box-sizing:border-box;background-color:#fff/*bg*/;border:1px solid #d4d4d4;padding:0 10px;}
.mts-trading-wrapper .selector .title  {display:block;text-align:left;font-size:1.0em;font-weight:400;overflow:hidden;}
.mts-trading-wrapper .selector > h2 > em  {font-style:normal;font-size:0.923em;margin-left:5px;font-family: Oswald;}
.mts-trading-wrapper .selector .btn  {position:absolute;display:block;right:0;top:0;width:100px;height:100%;background-color:#eaeaea;font-size:0.923em;padding-right:23px;box-sizing:border-box;background-image:url("../img/icon-gray/icon-topdownc4ca.svg?1");background-position:80% center;background-repeat:no-repeat;background-size:13px auto;border-left:1px solid #d4d4d4;cursor:pointer;font-weight:400;letter-spacing:-0.05em;}
.mts-trading-wrapper .selector .btn.close  {background-image:url("../img/icon-gray/icon-close8f14.svg?7");background-size:10px auto;}
.mts-trading-wrapper .selector .select  {display:none;position:absolute;left:-1px;right:-1px;top:31px;background-color:#fff/*bg*/;padding:10px;overflow:hidden;box-sizing:border-box;border:1px solid #d4d4d4;border-top:0;}
.mts-trading-wrapper .selector .select .title {position:relative;font-size:0.923em;font-weight:500;padding:3px 10px;background-color:#dcdcdc;color:#222;}
.mts-trading-wrapper .selector .select .title i {position:absolute;left:10px;bottom:-18px;font-style:normal;color:#dcdcdc;}
.mts-trading-wrapper .selector .select em {font-size:0.923em;font-style:normal;}
.mts-trading-wrapper .selector .select > ul  {text-align:left;font-weight:400/*300*/;}
.mts-trading-wrapper .selector .select > ul  * {color:#222;}
.mts-trading-wrapper .selector .select > ul > li {padding:3px 10px 3px 32px;border-top:1px solid #dcdcdc;background:url("../img/icon-gray/bullet-tree518e.svg?@") no-repeat 1.0em center;background-size:auto 20%;cursor:pointer;}
.mts-trading-wrapper .selector .select > ul > li > strong {font-weight:400;}
.mts-trading-wrapper .selector .select > ul > li:hover {background-color:#f0f0f0;}

.mts-trading-wrapper .selector.option .select  {padding-top:70px;}
.mts-trading-wrapper .selector.option .fix-header  {z-index:2;position:fixed;left:11px;right:11px;top:125px;height:60px;padding:10px;padding-bottom:0;color:#222;background-color:#fff/*bg*/;word-break:keep-all;line-height:16px;font-weight:400/*300*/;border-left:1px solid #d4d4d4;border-right:1px solid #d4d4d4;}
.mts-trading-wrapper .selector.option .fix-header *  {color:#222;}
.mts-trading-wrapper .selector.option .fix-header table {position:absolute;bottom:-5px;right:10px;left:10px;width:calc(100% - 20px);}

.mts-trading-wrapper .selector table  {color:#222;width:100%;background-color:#fff/*bg*/;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.mts-trading-wrapper .selector table *  {color:#222;}
.mts-trading-wrapper .selector table th  {font-size:0.923em;font-weight:400;padding:0 5px;border:1px solid #c8c8c8;line-height:26px;width:32%;color:#333;}
.mts-trading-wrapper .selector table th:nth-child(1)  {background-color:#f0d6d4;}
.mts-trading-wrapper .selector table th:nth-child(2)  {width:36%;}
.mts-trading-wrapper .selector table th:nth-child(3)  {background-color:#d6e9f1;}

.mts-trading-wrapper .selector table td  {width:32%;padding:0 5px;border:1px solid #c8c8c8;line-height:26px;color:#333 !important;font-weight:400/*300*/;}
.mts-trading-wrapper .selector table td:nth-child(1)  {cursor:pointer;background-color:#f0d6d4;}
.mts-trading-wrapper .selector table td:nth-child(2)  {width:36%;}
.mts-trading-wrapper .selector table td:nth-child(3)  {cursor:pointer;background-color:#d6e9f1;}




.mts-trading-wrapper .stock-list > ul > li {padding:8px 0;border-top:1px solid #d4d4d4;}
.mts-trading-wrapper .stock-list > ul > li:first-child {border-top:0;}
.mts-trading-wrapper .stock-list > ul > li:after {content:" ";display:block;clear:both;height:0;visibility:hidden;margin:0;padding:0;}
.mts-trading-wrapper .stock-list > ul > li > .it {display:inline-block;position:relative;}
.mts-trading-wrapper .stock-list > ul > li > .it.left {float:left;padding-left:10px;font-family: Oswald;}
.mts-trading-wrapper .stock-list > ul > li > .it.middle {font-family: Oswald;position:absolute;width:140px;left:50%;margin-left:-70px;}
.mts-trading-wrapper .stock-list > ul > li > .it.middle * {font-family: Oswald;}
.mts-trading-wrapper .stock-list > ul > li > .it.right {float:right;font-family: Oswald;}

.mts-trading-wrapper .stock-list > ul > li > .it.middle > .m {display:inline-block;width:48%;}
.mts-trading-wrapper .stock-list > ul > li > .it.middle > .m:first-child {text-align:left;}
.mts-trading-wrapper .stock-list > ul > li > .it.middle > .m:last-child {text-align:right;}

.mts-trading-wrapper .stock-list > ul > li > .it.middle > i {position:absolute;display:block;left:50%;top:4px;width:1px;height:8px;background-color:#d4d4d4;}


.mts-trading-wrapper .order-tab:after {content:" ";display:block;clear:both;height:0;visibility:hidden;margin:0;padding:0;}
.mts-trading-wrapper .order-tab .tab {float:left;display:block;width:50%;padding:5px 0;background-color:#eaeaea;box-sizing:border-box;overflow:hidden;border:1px solid #eaeaea;border-bottom-color:#d4d4d4;font-weight:400;}
.mts-trading-wrapper .order-tab .tab.on {background-color:#fff/*bg*/;border-color:#d4d4d4;border-bottom-color:#fff/*bg*/;}

.mts-trading-wrapper .order-wrapper {overflow:hidden;background-color:#fff/*bg*/;padding:10px;border:1px solid #d4d4d4;border-top:0;}
.mts-trading-wrapper .order-wrapper:after {content:" ";display:block;clear:both;height:0;visibility:hidden;margin:0;padding:0;}
.mts-trading-wrapper .order-wrapper .wrap {box-sizing:border-box;}
.mts-trading-wrapper .order-wrapper .hoga {width:32%;float:left;}
.mts-trading-wrapper .order-wrapper .order {margin-left:32%;padding-left:10px;}

.mts-trading-wrapper .order-wrapper .order section {display:none;}
.mts-trading-wrapper .order-wrapper .order section.on {display:block;}


.mts-trading-wrapper .order-wrapper .hogatime {background-color:#eaeaea;border:1px solid #d4d4d4;border-bottom:0;padding:6px 0;font-family: Oswald;font-weight:500;font-size:1.0em;}
.mts-trading-wrapper .order-wrapper .wraps {position:relative;}
.mts-trading-wrapper .order-wrapper .wraps:after {content:" ";display:block;clear:both;height:0;visibility:hidden;margin:0;padding:0;}

.mts-trading-wrapper .hoga-list {border:1px solid #d4d4d4;}
.mts-trading-wrapper .hoga-list * {font-family: Oswald;}
.mts-trading-wrapper .hoga-list:after {content:" ";display:block;clear:both;height:0;visibility:hidden;margin:0;padding:0;}
.mts-trading-wrapper .hoga-list > ul {font-size:0.923em;}
.mts-trading-wrapper .hoga-list > ul.left {width:40%;float:left;text-align:right;}
.mts-trading-wrapper .hoga-list > ul.right {width:60%;float:right;color:#222}

.mts-trading-wrapper .fld {position:relative;background-color:#fff/*bg*/;border:1px solid #d4d4d4;box-sizing:border-box;margin-bottom:7px;height:32px;line-height:28px;}
.mts-trading-wrapper .fld .sel {position:absolute;z-index:2;display:block;width:auto;top:0;bottom:0;left:0;right:31px;overflow:hidden;}
.mts-trading-wrapper .fld .sel select {height:100%;width:100%;font-size:1.0em;background-color:transparent;border:0;color:#222;box-sizing:border-box;padding: 0 5px;outline:none;appearance:none;-moz-appearance:none;-webkit-appearance:none;}
.mts-trading-wrapper .fld label {position:absolute;left:0;top:0;bottom:0;padding-left:10px;font-size:0.923em;color:#222;line-height:28px;}
.mts-trading-wrapper .fld .input {display:block;border:0;box-sizing:border-box;height:100%;padding:0 10px;color:#222;text-decoration:none;font-size:1.077em;width:100%;box-sizing:border-box;padding-right:76px;padding-left:32px;letter-spacing:-1px;}
.mts-trading-wrapper .fld .input.right {text-align:right;}
.mts-trading-wrapper .fld .input.nobtn {padding-right:10px;}
.mts-trading-wrapper .fld .input.nolabel {padding-left:10px;}
.mts-trading-wrapper .fld .btn {position:absolute;margin:0;display:block;top:-1px;bottom:-1px;right:-1px;width:33px;background-color:#eaeaea;border-radius:0;color:#222;font-weight:700;font-size:0.923em;outline:none;border:1px solid #d4d4d4;background-position:center center;background-repeat:no-repeat;background-size:11px auto;overflow:hidden;text-indent:-999px;cursor:pointer;}
.mts-trading-wrapper .fld .btn.left {margin-right:32px;}
.mts-trading-wrapper .fld .btn.plus {background-image:url("../img/icon-gray/icon-plus.svg");}
.mts-trading-wrapper .fld .btn.minus {background-image:url("../img/icon-gray/icon-minus.svg");}
.mts-trading-wrapper .fld .btn.topdown {background-image:url("../img/icon-gray/icon-topdownc4ca.svg?1");}
.mts-trading-wrapper .fld .btn.refresh {background-image:url("../img/icon-gray/icon-refreshc4ca.svg?1");}

.mts-trading-wrapper .button {margin:0;display:block;padding:5px 10px;color:#222;background-color:#eaeaea;border:1px solid #d4d4d4;font-size:1.0em;cursor:pointer;}
.mts-trading-wrapper .button.nobtn {padding:0 !important;border:0;background-color:transparent;}

.mts-trading-wrapper .order .stats {margin-bottom:7px;text-align:left;position:relative;}
.mts-trading-wrapper .order .stats .button {display:inline-block;padding:4px 10px;}
.mts-trading-wrapper .order .stats .stat {font-size:0.923em;position:absolute;right:0;top:5px;}

.mts-trading-wrapper .order .btns {margin-right:-2px;}
/*.mts-trading-wrapper .order .btns:after {content:" ";display:block;clear:both;height:0;visibility:hidden;margin:0;padding:0;}*/
.mts-trading-wrapper .order .btns .button {float:left;width:50%;margin:-1px;}

.mts-subtitle {font-weight:400;font-size:1.0em;text-align:left;}

.mts-trading .bt {position:absolute;display:block;right:0;top:-5px;height:26px;line-height:26px;box-sizing:border-box;background-repeat:no-repeat;background-size:auto 8px;cursor:pointer;}
.mts-trading .bt.icon {width:26px;overflow:hidden;text-indent:-999px;background-position:center center;}
.mts-trading .bt.icon-text {padding:0 10px 0 26px;background-position:10px center;font-size:0.923em;}
.mts-trading .bt.guide {margin-right:26px;padding-left:20px;background-image:url("../img/icon-gray/icon-question8f14.svg?7");}
.mts-trading .bt.close {background-image:url("../img/icon-gray/icon-close8f14.svg?7");}
.mts-trading .title {margin-bottom:10px;position:relative;}

.mts-trading-wrapper .order-stop {display:none;border:1px solid #d4d4d4;padding:10px;margin-top:10px;}
.mts-trading-wrapper .order-stop .title {border-bottom:1px solid #d4d4d4;padding-bottom:8px;}

.mts-trading-wrapper .order-stop .row {margin-right:30%;position:relative;}
.mts-trading-wrapper .order-stop .mts-chk {float:left;display:block;width:40%;line-height:27px;}
.mts-trading-wrapper .order-stop .fld {margin-left:40%;}

.mts-trading-wrapper .order-stop .mts-chk i {background-color:#fff/*bg*/;}
.mts-trading-wrapper .order-stop .button {position:absolute;right:0;top:0;bottom:0;width:28%;}
.mts-trading-wrapper .order-stop > ul {text-align:left;}
.mts-trading-wrapper .order-stop > ul > li {font-size:0.923em;color:#222;display:inline-block;white-space:nowrap;margin-right:10px;padding-left:12px;background-repeat:no-repeat;background-size:8px auto;background-position:left center;background-image:url("../img/icon-gray/icon-note.svg");}


.mts-trading-wrapper .mts-table {border:1px solid #d4d4d4;margin-top:10px;}
.mts-trading-wrapper .mts-table th {font-size:0.923em;padding:2px 0;background-color:#eaeaea;border:1px solid #d4d4d4;}
.mts-trading-wrapper .mts-table td {font-size:0.923em;padding:2px 3px;border:1px solid #d4d4d4;}
.mts-trading-wrapper .mts-table td.price {text-align:right;padding-right:5px;}
.mts-trading-wrapper .mts-table td.btn {padding:0;background-color:#eaeaea;}
.mts-trading-wrapper .mts-table td .button {padding:2px 3px;border:0;display:block;width:100%;background-color:#eaeaea;}

.mts-trading-wrapper .mts-chart {display:none;margin-top:10px;background-color:#fff/*bg*/;}
.mts-trading-wrapper .mts-subtitle {font-size:0.923em;font-weight:400/*300*/;}
.mts-trading-wrapper .mts-chart .title {background-color:#eaeaea;padding:6px 10px;border:1px solid #d4d4d4;border-bottom:0;margin-bottom:0;}
.mts-trading-wrapper .mts-chart .bt {margin-top:7px;}
.mts-trading-wrapper .mts-chart .chart-wrap {padding:5px;color:#222;font-size:0.923em;font-weight:400/*300*/;border:1px solid #d4d4d4;}
.mts-trading-wrapper .mts-chart .chart-wrap * {color:#fff;font-size:0.923em;font-weight:400/*300*/;}
.mts-trading-wrapper .mts-chart .tab {position:absolute;right:26px;width:30%;top:5px;bottom:0;}
.mts-trading-wrapper .mts-chart .tab > li {float:left;width:33%;height:calc(100% + 1px);font-size:0.923em;font-weight:400/*300*/;box-sizing:border-box;padding-top:1px;cursor:pointer;box-sizing:border-box;}
.mts-trading-wrapper .mts-chart .tab > li.on {background-color:#fff/*bg*/;color:#222;border:1px solid #d4d4d4;border-bottom:0;}



.mts-footer .mts-basewrap {padding-top:10px;padding-bottom:10px;font-weight:400;}

.mts-footer .contact .tel {float:left;display:block;font-size:1.0em;font-weight:1.0em;font-family: Oswald;border:1px solid #d4d4d4;padding:3px 10px 5px 32px;background-position:10px center;background-repeat:no-repeat;background-size:18px auto;background-image:url("../img/icon-gray/icon-cs.svg");}
.mts-footer .contact .mts-menu-etc {float:right;margin-top:4px;}
.mts-footer .contact .mts-menu-etc > a {display:inline-block;font-weight:400;font-size:0.923em;}
.mts-footer .contact .mts-menu-etc > i {display:inline-block;width:1px;height:8px;background-color:#d4d4d4;margin:0 10px;}

.mts-footer .info {border-top:1px solid #d4d4d4;font-size:0.846em;padding-bottom:10px;line-height:1.5em;}
.mts-footer .info .copy {display:block;font-size:0.769em;}
.mts-footer .info .icon {display:block;position:absolute;top:50%;margin-top:-23px;width:46px;height:46px;overflow:hidden;text-indent:-999px;background-position:center center;background-repeat:no-repeat;background-size:40% auto;filter:alpha(opacity=50);opacity:0.5;-moz-opacity:0.5;}
.mts-footer .info .icon.home {left:0;background-image:url("../img/icon-gray/icon-home.svg");}
.mts-footer .info .icon.top {right:17px;background-image:url("../img/icon-gray/icon-gotop.svg");margin-top:-15px;width:30px;height:30px;background-color:#fff/*bg*/;border-radius:50%;}
.mts-footer .info .icon.top:hover {background-color:#fff/*bg*/;}
.mts-footer .info .icon:hover {filter:alpha(opacity=010);opacity:1;-moz-opacity:1;}


.mts-pop {display:none;position:fixed;z-index:999999999999999999999999999999999999;left:0;right:0;top:0;bottom:0;height:auto;box-sizing:border-box;}
.mts-pop .insert-content {display:none;position:relative;left:0;right:0;top:0;bottom:0;height:100%;overflow:hidden;}
.mts-pop .middle-wrapper {position:absolute;left:0;right:0;top:0;}
.mts-pop .pop-close {position:absolute;z-index:999;display:block;width:46px;height:46px;top:0;right:0;margin-right:-100px;background-repeat:no-repeat;background-position:center center;background-size:30% auto;overflow:hidden;text-indent:-999px;cursor:pointer;background-image:url("../img/icon-white/icon-close-thin.svg");filter:alpha(opacity=70);opacity:0.7;-moz-opacity:0.7;}
.mts-pop .pop-prev {position:absolute;z-index:999;display:block;width:46px;height:46px;top:0;left:0;margin-left:-100px;background-repeat:no-repeat;background-position:16px center;background-size:30% auto;overflow:hidden;text-indent:-999px;cursor:pointer;background-image:url("../img/icon-white/icon-prev.svg");filter:alpha(opacity=70);opacity:0.7;-moz-opacity:0.7;}
.mts-pop.basic {top:46px;;border:1px solid #222;}
.mts-pop.basic .pop-close {height:32px;background-image:url("../img/icon-white/icon-close.svg");filter:alpha(opacity=100);opacity:1;-moz-opacity:1;}
.mts-pop.basic .pop-prev {height:32px;filter:alpha(opacity=100);opacity:1;-moz-opacity:1;background-image:url("../img/icon-white/icon-prev.svg");}

.mts-pop.boxing {top:50%;left:11%;right:11%;bottom:auto;border:2px solid #fff;-webkit-box-shadow: 2px -2px 36px -2px rgba(0,0,0,1);
-moz-box-shadow: 2px -2px 36px -2px rgba(0,0,0,1);
box-shadow: 2px -2px 36px -2px rgba(0,0,0,1);}
.mts-pop.boxing .pop-close {height:32px;background-image:url("../img/icon-white/icon-close.svg");filter:alpha(opacity=100);opacity:1;-moz-opacity:1;}
.mts-pop.boxing .pop-prev {height:32px;filter:alpha(opacity=100);opacity:1;-moz-opacity:1;}
.mts-pop.boxing .insert-content {display:block;}




.mts-pop-over {display:none;position:fixed;top:120px;left:4%;right:4%;overflow:hidden;box-sizing:border-box;z-index:9999999999999999999999999999999999999999999999999999;border:1px solid #222;overflow:hidden;box-sizing:border-box;}
.mts-pop-over .mts-popup-basic {background-color:#fff/*bg*/ !important;}
.mts-pop-over .title-bar {background-color:#737373 !important;font-size:1.077em;letter-spacing:-0.05em;}
.mts-pop-over .popup-contents {position:relative !important;height:auto !important;top:0 !important;padding:10px 0;}





/* 팝업콘텐츠 시작 */


.mts-login {position:relative;width:100%;min-height:100%;background-color:#16ab84;padding:32px 0;color:#fff;}
.mts-login * {color:#fff !important;}
.mts-login form {position:relative;z-index:2;margin:0 auto;box-sizing:border-box;padding:0 10%;}
.mts-login legend {text-align:center;overflow:hidden;width:100%;display:block;font-weight:100;font-size:1.308em;position:relative;padding:10px 0 20px 0;}
.mts-login legend strong {font-weight:400;}


.mts-login .mts-logo {margin-top:-100px;top:-18px;z-index:0;}
.mts-login .mts-logo > a {font-size:20px;}



.mts-login .fld {position:relative;display:block;height:38px;line-height:38px;border:1px solid #018663;box-sizing:border-box;margin-bottom:10px;text-align:left;background-repeat:no-repeat;background-position:15px center;background-size:12px auto;padding-left:38px;background-color:#fff;}
.mts-login .input {display:block;width:100%;height:100%;background-color:transparent;border:0;outline:none;box-sizing:border-box;color:#222;font-size:1.0em;color:#000000 !important}
.mts-login .fld.id {background-image:url("../img/icon-gray/icon-member.svg");}
.mts-login .fld.pass {background-image:url("../img/icon-gray/icon-lock.svg");}

.mts-login .fld .bt {position:absolute;display:block;right:10px;top:50%;margin-top:-10px;width:20px;height:20px;overflow:hidden;text-indent:-999px;background-repeat:no-repeat;background-position:center center;background-size:50% auto;filter:alpha(opacity=50);opacity:0.5;-moz-opacity:0.5;}
.mts-login .fld .bt.del:hover {filter:alpha(opacity=100);opacity:1.0;-moz-opacity:1.0;}
.mts-login .fld .bt.on {filter:alpha(opacity=100);opacity:1.0;-moz-opacity:1.0;}
.mts-login .fld .bt.del {background-image:url("../img/icon-gray/icon-close.svg");}
.mts-login .fld .bt.view {margin-right:20px;background-image:url("../img/icon-gray/icon-view.svg");background-size:65% auto;}

.mts-login .chk {margin-bottom:10px;}
.mts-login .chk:after {content:" ";display:block;clear:both;height:0;visibility:hidden;margin:0;padding:0;}
.mts-login .mts-chk {float:left;line-height:32px;font-weight:400/*300*/;margin-right:20px;}
.mts-login .mts-chk .check {margin-right:10px;}
.mts-login .mts-chk i {background-color:#fff;border-color:#018663 !important;}

.mts-login .button {display:block;width:100%;height:45px;background-color:#018663;color:#fff;font-size:1.308em;font-weight:400;}
.mts-login input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #496992 inset;-webkit-text-fill-color:#fff;
}

.mts-login .link {padding:10px 0;font-weight:400/*300*/;}
.mts-login .link a {display:inline-block;padding:10px 15px;}
.mts-login .link i {display:inline-block;width:1px;height:8px;background-color:#d4d4d4;}



.mts-login .txt {padding-top:32px;}


.mts-textarea {border-bottom:1px solid #22c097;margin-bottom:10px;position:relative;}
.mts-textarea:nth-of-type(1) {border:0;}
.mts-textarea .mts-subtitle {padding:10px 0;border-top:1px solid #22c097;}
.mts-textarea article {padding:10px;text-align:left;max-height:200px;overflow:hidden;border:1px solid #22c097;color:#222;font-weight:400/*300*/;overflow-y:auto;}
.mts-textarea .chk {padding:10px 0;padding-bottom:0;}
.mts-textarea .chk i {background-color:#eaeaea;}

.mts-textarea .icon-full {position:absolute;z-index:999;display:block;width:38px;height:38px;top:0;right:-12px;background-repeat:no-repeat;background-position:center center;background-size:38% auto;overflow:hidden;text-indent:-999px;cursor:pointer;background-image:url("../img/icon-white/icon-expand.svg");filter:alpha(opacity=70);opacity:0.7;-moz-opacity:0.7;}


.mts-popup-basic {position:relative;height:100%;background-color:#fff/*bg*/;overflow:hidden;box-sizing:border-box;}
.mts-popup-basic .title-bar {background-color:#29c29a;color:#fff;box-sizing:border-box;height:32px;line-height:32px;font-weight:400/*300*/;letter-spacing:-0.05em;}
.mts-popup-basic .mts-scroll-wrapper {padding:15px;text-align:left;}

.mts-popup-basic .popup-contents {position:absolute;left:0;right:0;top:38px;bottom:10px;overflow:hidden;font-size:0.923em}
.mts-popup-basic.tab .popup-contents {top:70px;}
.mts-popup-basic.select .popup-contents {top:88px;}
.mts-popup-basic .popup-contents .mts-scroll-wrapper {padding-top:7px;}
.mts-popup-basic .foot-btn {float:right;margin-bottom:-20px;margin-right:-7px;}
.mts-popup-basic .foot-btn em {display:none;}
.mts-popup-basic .foot-btn .mts-icon {position:relative;z-index:9;float:left;display:block;width:46px;height:46px;background-size:30% auto;overflow:hidden;text-indent:-999px;filter:alpha(opacity=70);opacity:0.7;-moz-opacity:0.7;}

.popup-contents a > u {position:relative;display:inline-block;-moz-text-decoration-color:#eaeaea;text-decoration-color:#eaeaea;}
.popup-contents a > u:after {content: "";display:inline-block;width:12px;height:12px;background: url("../img/icon-gray/icon-link.svg") no-repeat top center;background-size:8px auto;}


.mts-tab-menu {position:relative;z-index:9999999999999;background-color:#92e2cd;margin-left:-1px;margin-right:-1px;}
.mts-tab-menu:after {content:" ";display:block;clear:both;height:0;visibility:hidden;margin:0;padding:0;}
.mts-tab-menu > ul > li {float:left;width:20%;box-sizing:border-box;}
.mts-tab-menu > ul > li > a {display:block;padding:6px 0;font-weight:400;position:relative;border-bottom:1px solid #222;border-top:1px solid #373737;margin-bottom:-1px;letter-spacing:-0.05em;}
.mts-tab-menu > ul > li > a:before {position:absolute;display:block;content:"";left:-1px;width:1px;top:0;bottom:1px;background-color:#c0f7e9;}
.mts-tab-menu > ul > li.on > a {z-index:3;background-color:#fff/*bg*/;border:1px solid #222;border-bottom-color:#fff/*bg*/;}
.mts-tab-menu > ul > li.on > a:before {display:none;}

.mts-tab-menu > .col2 > li {width:50%;}

.mts-tab-menu > .col3 > li {width:35%;}
.mts-tab-menu > .col3 > li:first-child {width:30%;}

.mts-tab-menu > .col4 > li {width:25%;}

.mts-select-menu {display:none;position:absolute;z-index:9;left:15px;right:15px;top:45px;text-align:left;background-color:#eaeaea;border:1px solid #d4d4d4;}
nav.mts-select-menu {display:block;}
.mts-select-menu > i {display:block;position:absolute;z-index:2;width:100%;right:0;top:0;height:30px;cursor:pointer;background-image:url("../img/icon-gray/icon-topdownc4ca.svg?1");background-position:calc(100% - 14px) center;background-repeat:no-repeat;background-size:12px auto;}
.mts-select-menu.on > i {width:39px;background-position-x:center;-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.mts-tab-menu > ul > li.on > .mts-select-menu {display:block;}
.mts-select-menu > ul {overflow:hidden;overflow-y:auto;}
.mts-select-menu > ul > li {display:none;background-color:#fff/*bg*/;border-top:1px solid #d4d4d4;}
.mts-select-menu > ul > li.on {display:block;background-color:#eaeaea;}
.mts-select-menu > ul > li:hover {background-color:#eaeaea;border-top:0;}
.mts-select-menu > ul > li:first-child {border-top:0;}
.mts-select-menu > ul > li > a {display:block;padding:6px 15px;font-weight:400/*300*/;cursor:pointer;}




.mts-tab-contents {display:none;}
.mts-tab-contents.on {display:block;}

.mts-select-contents {display:none;}
.mts-select-contents.on {display:block;}



.mts-over-tab-menu {position:relative;z-index:9999999999999;background-color:#eaeaea;margin-left:-1px;margin-right:-1px;}
.mts-over-tab-menu:after {content:" ";display:block;clear:both;height:0;visibility:hidden;margin:0;padding:0;}
.mts-over-tab-menu > ul > li {float:left;width:20%;box-sizing:border-box;}
.mts-over-tab-menu > ul > li:first-child {border:0;}
.mts-over-tab-menu > ul > li > a {display:block;padding:6px 0;font-weight:400;position:relative;border-bottom:1px solid #222;border-top:1px solid #373737;margin-bottom:-1px;}
.mts-over-tab-menu > ul > li > a:before {position:absolute;display:block;content:"";left:-1px;width:1px;top:0;bottom:1px;background-color:#d4d4d4;}
.mts-over-tab-menu > ul > li.on > a {z-index:3;background-color:#fff/*bg*/;border:1px solid #222;border-bottom-color:#fff/*bg*/;}
.mts-over-tab-menu > ul > li.on > a:before {display:none;}

.mts-over-tab-menu > .col2 > li {width:50%;}

.mts-over-tab-menu > .col3 > li {width:35%;}
.mts-over-tab-menu > .col3 > li:first-child {width:30%;}

.mts-over-tab-menu > .col4 > li {width:25%;}

.mts-over-tab-contents {display:none;}
.mts-over-tab-contents.on {display:block;}






.mts-definition > dt {font-size:1.077em;padding:10px 0 5px 20px;;margin-top:10px;border-top:1px solid #eaeaea;background-repeat:no-repeat;background-position:left 13px;background-size:12px auto;background-image:url("../img/icon-gray/icon-note.svg");font-weight:400;position:relative;}
.mts-definition > dt:first-child {margin-top:0;border-top:0;}

.mts-definition > dd  {position:relative;font-size:1.0em;}

.mts-definition.label > dt,.mts-definition.label > dd {padding-left:27px;}
.mts-definition.label > dd.mts-screenshot {padding-left:0;}
.mts-definition.label .num {position:absolute;left:0;top:9px;width:20px;line-height:20px;background-color:#222;color:#fff;display:block;text-align:center;border:1px solid #d4d4d4;}
.mts-definition.label > * > strong {font-size:1.0em;font-weight:400;}
.mts-definition.label > * > em {font-size:0.923em;font-weight:400/*300*/;font-style:normal;margin-left:5px;}

.mts-toggle-content dl {margin-bottom:-1px;}
.mts-toggle-content dt {position:relative;display:block;z-index:2;background-color:#eaeaea;font-size:1.0em;border:1px solid #d4d4d4;word-break:keep-all;padding:5px 32px 5px 10px;}
.mts-toggle-content dl.on > dt {background-color:transparent;border-bottom:1px dashed transparent !important;}

.mts-toggle-content dt:after {content:" ";display:block;clear:both;position:absolute;right:6px;top:0;height:28px;width:30px;background-image:url("../img/icon-gray/icon-topdownc4ca.svg?1");background-position:center center;background-repeat:no-repeat;background-size:8px auto;}
.mts-toggle-content dl.on > dt:after {-webkit-transform: rotate(180deg);transform: rotate(180deg);}

.mts-toggle-content dd {display:none;border:1px solid #d4d4d4;padding:10px;}
.mts-toggle-content dl.on > dd {display:block;}

.mts-toggle-content.faq{margin-top:-20px;}
.mts-toggle-content.faq dt {padding-left:30px;margin:0;background-position:12px 9px;background-size:10px auto;background-repeat:no-repeat;background-image:url("../img/icon-gray/icon-question.svg");}

.mts-toggle-content.notice em {display:inlnie-block;;font-size:0.923em;font-weight:100;font-style:normal;margin-right:5px;}

.mts-section-title {font-size:1.077em;font-weight:400;background-repeat:no-repeat;background-position:left 13px;background-size:12px auto;background-image:url("../img/icon-gray/icon-note.svg");padding:10px 0 10px 20px;border-top:1px solid #eaeaea;margin-top:20px;position:relative;}
.mts-section-title:nth-of-type(1) {margin-top:-10px;}
article .mts-section-title:nth-of-type(1) {border-top:0;}

.mts-section-title .btn {position:absolute;right:0;top:8px;font-weight:400/*300*/;font-size:0.923em;line-height:16px;}
.mts-section-title .btn > a {display:inline-block;padding:3px 5px;border:1px solid #d4d4d4;margin-left:5px;}
.mts-section-title .btn > .mts-icon {padding-left:20px;background-repeat:no-repeat;background-position:5px center;background-size:12px auto;}

.mts-section-title em {display:inline-block;font-size:0.923em;font-weight:400/*300*/;font-style:normal;}

.mts-list-bullet {margin-left:20px;list-style:disc;}
.mts-list-bullet > li {list-style-type:disc;}

.mts-list-num {margin-left:18px;list-style:decimal;}
.mts-list-num > li {list-style-type:decimal;}

ul > li.no-bullet {list-style-type:none;}


.mts-blank-msg {position:relative;height:100%;display:block;text-align:center;font-weight:100;font-size:0.923em;position:relative;padding-top:90px;background:url("../img/icon-gray/icon-warningeccb.svg?3") no-repeat center 20px;background-size:auto 60px;padding-bottom:20px;box-sizing:border-box;}


.mts-tel {display:inline-block;font-size:1.0em;font-weight:1.0em;font-family: Oswald;border:1px solid #d4d4d4;padding:3px 10px 5px 32px;background-position:10px center;background-repeat:no-repeat;background-size:18px auto;background-image:url("../img/icon-gray/icon-cs.svg");}
.mts-tel.small {font-size:0.923em;font-weight:400/*300*/;background-size:12px auto;padding:2px 10px 2px 23px;}

.mts-center-inline {padding-top:20px;text-align:center;}


.mts-pop-tb {width:100%;}
.mts-pop-tb th,.mts-pop-tb td {border:1px solid #d4d4d4;padding:5px 5px;font-size:1.0em;}
.mts-pop-tb th {font-weight:400;text-align:center;background-color:#eaeaea;border-color:#d4d4d4;word-break:keep-all;}
.mts-pop-tb td {word-break:keep-all;}
.mts-pop-tb.th-left tr > td:first-child {width:25% !important;background-color:#eaeaea;border-color:#d4d4d4;font-size:1.0em;}
.mts-pop-tb.th-time tr > td:first-child {width:25% !important;}
.mts-pop-tb .th-sub {background-color:#445162 !important;border-color:#4f5d6e !important;padding-top:3px;padding-bottom:3px;}
.mts-pop-tb caption {display:table-caption;text-align:left;background-repeat:no-repeat;background-position:left 13px;background-size:12px auto;background-image:url("../img/icon-gray/icon-note.svg");margin-top:15px;border-top:1px solid #eaeaea;padding:10px 0 8px 20px;font-size:1.077em;font-weight:400;}
.mts-pop-tb:nth-of-type(1) > caption {border:0;padding-top:0;margin-top:0;background-position-y:3px;}

.company-map {border:1px solid #d4d4d4;text-align:center;}

.mts-cs-process {margin-right:-2%;}
.mts-cs-process:after {content:" ";display:block;clear:both;height:0;visibility:hidden;margin:0;padding:0;}
.mts-cs-process > li {float:left;border:1px solid #d4d4d4;box-sizing:border-box;margin-left:2%;padding:2%;padding-top:12vw;text-align:center;position:relative;background-position:center 10%;background-repeat:no-repeat;background-size:auto 8vw;word-break:break-all;}
.mts-cs-process > li:after {content:" ";display:block;clear:both;position:absolute;z-index:2;right:-3vw;top:50%;margin-top:-2vw;padding-top:4vw;width:4vw;background-image:url("../img/icon-gray/icon-topdownc4ca.svg?1");background-position:center center;background-repeat:no-repeat;background-size:50% auto;-webkit-transform: rotate(-90deg);transform: rotate(-90deg);background-color:#d4d4d4;border-radius:100%;border:1apx solid #fff;}
.mts-cs-process > li:last-child:after {display:none;}
.mts-cs-process > li:first-child {margin:0;}

.mts-cs-process.emergency> li {width:23%;min-height:110px;}
.mts-cs-process.emergency  li:nth-child(1) {background-image:url("../img/icon-gray/icon-cp.svg");}
.mts-cs-process.emergency  li:nth-child(2) {background-image:url("../img/icon-gray/icon-cs.svg");}
.mts-cs-process.emergency  li:nth-child(3) {background-image:url("../img/icon-gray/icon-member.svg");}
.mts-cs-process.emergency  li:nth-child(4) {background-image:url("../img/icon-gray/icon-warning.svg");}

.mts-cs-process.guide-bank li {width:31%;min-height:170px;}
.mts-cs-process.guide-bank  li:nth-child(1) {background-image:url("../img/icon-gray/icon-moneyeccb.svg?3");}
.mts-cs-process.guide-bank  li:nth-child(2) {width:32%;background-image:url("../img/icon-gray/icon-hp.svg");}
.mts-cs-process.guide-bank  li:nth-child(3) {background-image:url("../img/icon-gray/icon-view.svg");}


.mts-screenshot {text-align:center;}
.mts-screenshot img {display:inline-block;width:100%;max-width:540px;border:1px solid #d4d4d4;}


.mts-popup-basic.boxing {background-color:#fff/*bg*/;}
.mts-popup-basic.boxing .title-bar {background-color:#b5b5b5;letter-spacing:-0.05em;}

.mts-confirm * {color:#000;font-weight:400/*300*/;}
.mts-confirm table {width:100%;border:1px solid #222;}
.mts-confirm table caption {padding:5px 10px;display:table-caption;background-color:#bdbdbd;border:1px solid #7e7e7e;border-bottom:0;font-weight:400;font-size:1.0em;}
.mts-confirm th {padding:5px 10px;font-weight:400;text-align:right;background-color:#bdbdbd;border:1px solid #7e7e7e;}
.mts-confirm td {padding:5px 10px;text-align:left;background-color:#dadada;border:1px solid #7e7e7e;}

.mts-confirm .msg {margin-top:10px;text-align:center;}
.mts-confirm .btn {margin-top:10px;text-align:center;}

.mts-confirm .btn > button {padding:5px 15px;background-color:#7e7e7e;border:1px solid #d4d4d4;display:inline-block;margin:0 5px;color:#222;font-weight:400;}
.mts-confirm .btn > button.on {background-color:#496992;}

/*
.xscroll:after {content:" ";display:block;width:20px;height:20px;position:absolute;left:50%;margin-left:-10px;bottom:0;background-image:url("../img/icon-gray/icon-swipe.svg?1");background-position:center center;background-repeat:no-repeat;background-size:100% auto;}
*/
.xscroll {background-image:url("../img/icon-gray/icon-swipec4ca.svg?1");background-position:center bottom;background-repeat:no-repeat;background-size:20px auto;background-attachment: fixed;}

.xscroll .mts-pop-tb {min-width:100%;width:auto;}
.xscroll .mts-pop-tb th,.xscroll .mts-pop-tb td {white-space:nowrap;padding:5px 10px;}
.mts-pop-tb .th {text-align:right;}
.mts-pop-tb .price {text-align:right;}
.mts-pop-tb label {display:block;width:100%;min-width:80px;font-size:0.923em;box-sizing:border-box;}
.mts-pop-tb .input {width:100%;height:32px;line-height:28px;border:1px solid #d4d4d4;color:#222;font-size:1.077em !important;}
.mts-pop-tb label .input {width:50%;min-width:55px;box-sizing:border-box;padding:0 5px;}

.order-limit-tb label i {display:inline-block;width:60px;font-style:normal;text-align:right;margin-right:5px;}

.mts-pop-tb .btn {padding:5px 15px;background-color:#7e7e7e;border:1px solid #d4d4d4;display:inline-block;margin:0 5px;color:#222;font-weight:400;font-size:1.077em;}
.mts-pop-tb .btn {background-color:#fff/*bg*/;white-space:nowrap;}
.mts-pop-tb .btn {background-color:#fff/*bg*/;white-space:nowrap;}

.mts-pop-tb tr:hover td {background-color:#eaeaea;}
.mts-pop-tb .mts-rad i {background-color:#eaeaea;}
.mts-pop-tb .mts-chk i {background-color:#eaeaea;}

.basic-btn {margin:10px 0;text-align:center;position:relative;}
.basic-btn .btn {padding:6px 15px;background-color:#eaeaea;border:1px solid #d4d4d4;display:inline-block;margin:0 5px;color:#222;font-weight:400;font-size:1.077em;box-sizing:border-box;}
.basic-btn input.btn {line-height:1.52em;}
.basic-btn .btn.on {background-color:#fff/*bg*/;}
.basic-btn .btn.red {background-color:#da493e;}
.basic-btn .btn.mts-icon {padding-left:32px;background-repeat:no-repeat;background-position:15px center;background-size:15px auto;}


.mts-search {border:1px solid #d4d4d4;padding:5px 0;line-height:26px;margin-bottom:10px;background-color:#eaeaea;text-align:center;font-size:0.923em;}
.mts-search label {display:inline-block;width:70px;margin:0 5px;padding-right:17px;background-repeat:no-repeat;background-position:right center;background-size:12px auto;background-image:url("../img/icon-gray/icon-calendar.svg");height:100%;position:relative;}
.mts-search input {width:100%;box-sizing:border-box;border:1px solid #d4d4d4;color:#222;text-align:center;font-size:0.923em;height:26px;line-height:26px;display:block;margin:-1px 0;}
.mts-search .btn {padding:0 8px;background-color:#fff/*bg*/;border:1px solid #d4d4d4;display:inline-block;color:#222;font-weight:400;font-size:0.923em;box-sizing:border-box;line-height:23px;}


/* jquery-ui 캘린더 디자인 변경 */
.mts-calendar  * {color:#fff !important;outline:0 !important;}
.mts-calendar .ui-corner-all {border-radius:0 !important;}
.mts-calendar .ui-datepicker {background-color:#fff/*bg*/;border:1px solid #d4d4d4;padding:5px;margin-top:5px;}
.mts-calendar .ui-datepicker-header {background-color:#b5b5b5;border:1px solid #d4d4d4;border-bottom:0;color:#222;}
.mts-calendar .ui-datepicker-calendar  {border-collapse:collapse;margin:0;}
.mts-calendar .ui-datepicker-calendar thead th {background-color:#fff/*bg*/ !important;border:1px solid #d4d4d4;}
.mts-calendar td * {background-color:transparent !important;border:0 !important;}
.mts-calendar td  {background-color:#eaeaea !important;border:1px solid #d4d4d4 !important;}
.mts-calendar td:hover  {background-color:#53657c;}
.mts-calendar .ui-datepicker-other-month {background-color:#fff/*bg*/ !important;}

.mts-calendar .ui-datepicker-prev {background-position:center center;background-repeat:no-repeat;background-size:45% auto;background-image:url("../img/icon-gray/icon-back.svg");}
.mts-calendar .ui-datepicker-next {background-position:center center;background-repeat:no-repeat;background-size:45% auto;background-image:url("../img/icon-gray/icon-back.svg");-webkit-transform: rotate(180deg);transform: rotate(180deg);}



/* 체크박스 */
.mts-chk {position:relative;display:block;}
.mts-chk:after {content:" ";display:block;clear:both;height:0;visibility:hidden;margin:0;padding:0;}
.mts-chk .check {float:left;display:block;width:32px;height:32px;}
.mts-chk i {position:absolute;display:block;z-index:2;left:0;top:0;width:32px;height:32px;box-sizing:border-box;background-color:#52c4ff;border:1px solid #d4d4d4;overflow:hidden;text-indent:-999px;background-position:center center;background-repeat:no-repeat;background-size:45% auto;}
.mts-chk.on i {background-image:url("../img/icon-gray/icon-check.svg");}
.mts-chk .long-text {display:block;text-align:left;margin-left:26px;line-height:18px;}



/* 라디오 */
.mts-rad {position:relative;display:block;line-height:26px;}
.mts-rad:after {content:" ";display:block;clear:both;height:0;visibility:hidden;margin:0;padding:0;}
.mts-rad .radio {float:left;display:block;width:26px;height:26px;margin-right:5px;}
.mts-rad i {position:absolute;display:block;z-index:2;left:0;top:0;width:26px;height:26px;box-sizing:border-box;background-color:#52c4ff;border:1px solid #d4d4d4;overflow:hidden;text-indent:-999px;background-position:center center;background-repeat:no-repeat;background-size:45% auto;border-radius:50%;}
.mts-rad.on i {background-image:url("../img/icon-gray/icon-check.svg");}


/* 아이콘 */
.mts-icon {background-repeat:no-repeat;background-position:center center;}
.mts-icon.note {background-image:url("../img/icon-gray/icon-note.svg");} /* 노트 */
.mts-icon.cp {background-image:url("../img/icon-gray/icon-cp.svg");} /* 스마트폰 */
.mts-icon.hp {background-image:url("../img/icon-gray/icon-hp.svg");} /* 손에쥔 스마트폰 */
.mts-icon.top {background-image:url("../img/icon-gray/icon-gotop.svg");} /* 위로이동 */
.mts-icon.q {background-image:url("../img/icon-gray/icon-question.svg");} 
.mts-icon.chart {background-image:url("../img/icon-gray/icon-chart.svg");} 


/* 라이트 테마용 추가설정 */
.mts-bg-red {border-color:#af0c00 !important;position:relative;z-index:2;color:#fff !important;}
.mts-bg-blue {border-color:#0077ae !important;position:relative;z-index:2;color:#fff !important;}

.mts-pop.boxing .pop-close {background-image:url("../img/icon-white/icon-close.svg");}
.mts-pop.boxing .pop-prev {background-image:url("../img/icon-white/icon-prev.svg");}

.mts-login .mts-chk i {border-color:#afafaf;}


.mts-bg-red.mts-icon.note {background-image:url("../img/icon-white/icon-note.svg");} /* 노트 */
.mts-bg-red.mts-icon.cp {background-image:url("../img/icon-white/icon-cp.svg");} /* 스마트폰 */
.mts-bg-red.mts-icon.hp {background-image:url("../img/icon-white/icon-hp.svg");} /* 손에쥔 스마트폰 */
.mts-bg-red.mts-icon.top {background-image:url("../img/icon-white/icon-gotop.svg");} /* 위로이동 */
.mts-bg-red.mts-icon.q {background-image:url("../img/icon-white/icon-question.svg");} 
.mts-bg-red.mts-icon.chart {background-image:url("../img/icon-white/icon-chart.svg");} 

.mts-bg-blue.mts-icon.note {background-image:url("../img/icon-white/icon-note.svg");} /* 노트 */
.mts-bg-blue.mts-icon.cp {background-image:url("../img/icon-white/icon-cp.svg");} /* 스마트폰 */
.mts-bg-blue.mts-icon.hp {background-image:url("../img/icon-white/icon-hp.svg");} /* 손에쥔 스마트폰 */
.mts-bg-blue.mts-icon.top {background-image:url("../img/icon-white/icon-gotop.svg");} /* 위로이동 */
.mts-bg-blue.mts-icon.q {background-image:url("../img/icon-white/icon-question.svg");} 
.mts-bg-blue.mts-icon.chart {background-image:url("../img/icon-white/icon-chart.svg");} 

.mts-popup-basic .btn button {color:#fff !important;}
